<div class="container fluid" id="contenedormain">
    <div class="container fluid" id="contenedorpresentacion">
        <h2 class="text-center">Imágenes locales de mi gato</h2>
        <h5 class="text-center">(Se llama Groot)</h5>
        <div class="container fluid" id="contenedorgif">
            <img class="rounded" alt="bebe gracioso" id="groot" src="assets/groosito.gif">
        </div>
    </div>
    <div class="container fluid" id="contenedorapaisado">
        <img class="rounded " alt="bebe" src="assets/bebe2.jpg">
        <img class="rounded " alt="bebe sims" src="assets/sims.jpg">
        <img class="rounded " alt="bebe calentito" src="assets/calentito.jpg">
    </div>
    <div class="container fluid" id="contenedorvertical">
        <img class="rounded " alt="bebe con movil" src="assets/bebemovil.jpg">
        <img class="rounded " alt="bebe croquetas" src="assets/croquetas.jpg">
        <img class="rounded " alt="bebe gracioso" src="assets/bebegracioso.jpg">
    </div>
    
</div>