<div class="container fluid">
    <nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <ul class="nav nav-pills">
        <li class="nav-item" routerLink="/home"><a href="/home" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item" routerLink="/imagenes"><a href="/imagenes" class="nav-link">Imágenes</a></li>
        <li class="nav-item" routerLink="/entradaejercicio"><a href="/entradaejercicio" class="nav-link">Entrada Ejercicios</a></li>
        <li class="nav-item" routerLink="/entradapropia"><a href="/entradapropia" class="nav-link">Entrada Propia</a></li>
        <li class="nav-item" routerLink="/api"><a href="/api" class="nav-link">API</a></li>
        <li class="nav-item" routerLink="/wiki"><a href="/wiki" class="nav-link">API Propia</a></li>
      </ul>
    </nav>
  </div>