<div class="main">
    <div class="container fluid " id="contenedorPrincipal">
        <h1 class="text-center">Bienvenido a mi página web</h1>
        <p class="text-center">Te dejo a continuación un video de gatitos divinos como decoración de la pagina principal</p>
    </div>
    <div class="container fluid d-inline" id="contenedorVideo">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ebO6mlYSnvI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UY6KJp6M2TQ" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
</div>